requests
beautifulsoup4
newspaper3k
pandas
lxml_html_clean
ddgs
tqdm
openpyxl
yake
fake-useragent
curl_cffi
pymupdf
yfinance
numpy
scikit-learn
joblib
xgboost
pysentimiento
torch
nltk
htmldate
transformers
datasets
